# Zmienne

In [158]:
print("Hello Tomek")

Hello Tomek

In [159]:
(66/11+(12+3) ** 2)/12.5

18.48

In [160]:
tooo = 234

In [161]:
tooo

234

In [162]:
print(f"tooo = {tooo}")

tooo = 234

In [163]:
imie='Tomek'
nazwisko='Piekos'

In [164]:
print(imie)
print(nazwisko)
print(f"{imie} {nazwisko}")

Tomek
Piekos
Tomek Piekos

In [165]:
wiek=11.1

In [166]:
print (f'{imie} {nazwisko} ma {wiek} lat')

Tomek Piekos ma 11.1 lat

In [167]:
print ( f'{imie} {nazwisko} będzie miał {wiek} lat za 3 dni')

Tomek Piekos będzie miał 11.1 lat za 3 dni

In [168]:
print (imie, nazwisko)

Tomek Piekos

In [169]:
print ( f"{tooo} stworzył {imie} {nazwisko}")

234 stworzył Tomek Piekos

In [170]:
goryl= 'dlaczego ludzie maja takie małe nozdrzyczki? bo mają mini paluszeczki!'

In [171]:
print (goryl)

dlaczego ludzie maja takie małe nozdrzyczki? bo mają mini paluszeczki!

In [172]:
print ( f'oto super żart: {goryl}. stworzył go {imie} {nazwisko}.')

oto super żart: dlaczego ludzie maja takie małe nozdrzyczki? bo mają mini paluszeczki!. stworzył go Tomek Piekos.

In [173]:
tekst = f"{imie} {nazwisko}"

In [174]:
tekst

'Tomek Piekos'

In [175]:
opis = tekst + f" ma {wiek} lat"

In [176]:
opis

'Tomek Piekos ma 11.1 lat'

## Znaki ucieczki

* znak '\n'

In [177]:
tekst = f"{imie}\n\n\t{nazwisko}"

In [178]:
print(tekst)

Tomek

	Piekos

## Raw-string

In [179]:
sciezka = r'c:\nasz katalog\tomek'

In [180]:
print(sciezka)

c:\nasz katalog\tomek

# Listy

In [181]:
lista_czarodziejow = ["Gandalf", "Radagast", "Tom Bombadil", "Saruman", "Sauron"]

In [182]:
print(lista_czarodziejow)

['Gandalf', 'Radagast', 'Tom Bombadil', 'Saruman', 'Sauron']

In [183]:
lista_czarodziejow[0]

'Gandalf'

In [184]:
lista_czarodziejow[3]

'Saruman'

In [185]:
lista_czarodziejow[4]

'Sauron'

In [186]:
for czarodziej in lista_czarodziejow:
    print(czarodziej)

Gandalf
Radagast
Tom Bombadil
Saruman
Sauron

In [187]:
for czarodziej in lista_czarodziejow:
    print ( f'Mighty {czarodziej}!!!')

Mighty Gandalf!!!
Mighty Radagast!!!
Mighty Tom Bombadil!!!
Mighty Saruman!!!
Mighty Sauron!!!

In [188]:
for czarodziej in lista_czarodziejow:
    print ( f'powerless {czarodziej} ☺')

powerless Gandalf ☺
powerless Radagast ☺
powerless Tom Bombadil ☺
powerless Saruman ☺
powerless Sauron ☺

In [189]:
lista_czarodziejow[:3]

['Gandalf', 'Radagast', 'Tom Bombadil']

In [190]:
ulubione_liczby = [1, 2, 3, 9, 13, 24, 8, 99]

In [191]:
ulubione_liczby[2:]

[3, 9, 13, 24, 8, 99]

In [192]:
lista_czarodziejow.append('Morgoth')

In [193]:
lista_czarodziejow

['Gandalf', 'Radagast', 'Tom Bombadil', 'Saruman', 'Sauron', 'Morgoth']

In [194]:
lista_czarodziejow.remove('morgoth')

ValueError: list.remove(x): x not in list

In [148]:
lista_czarodziejow

['Gandalf', 'Radagast', 'Tom Bombadil', 'Saruman', 'Sauron', 'Morgoth']

In [149]:
lista_czarodziejow.append("galadriela")

In [150]:
lista_czarodziejow

['Gandalf',
 'Radagast',
 'Tom Bombadil',
 'Saruman',
 'Sauron',
 'Morgoth',
 'galadriela']

In [151]:
del lista_czarodziejow[6]

In [152]:
lista_czarodziejow

['Gandalf', 'Radagast', 'Tom Bombadil', 'Saruman', 'Sauron', 'Morgoth']

In [153]:
inni_czarodzieje = ['Galadriela', 'Dark Wizard']

In [156]:
czarodzieje = lista_czarodziejow + inni_czarodzieje

In [158]:
czarodzieje

['Gandalf',
 'Radagast',
 'Tom Bombadil',
 'Saruman',
 'Sauron',
 'Morgoth',
 'Galadriela',
 'Dark Wizard']

In [160]:
lista_czarodziejow.append('Darmanadon')

In [162]:
lista_czarodziejow.append ('Bilbo')

In [163]:
print (lista_czarodziejow)

['Gandalf', 'Radagast', 'Tom Bombadil', 'Saruman', 'Sauron', 'Morgoth', 'Darmanadon', 'Bilbo']

In [165]:
del lista_czarodziejow [7]

In [168]:
czarodzieje.append ('Darmanadon')

In [169]:
print (czarodzieje)

['Gandalf', 'Radagast', 'Tom Bombadil', 'Saruman', 'Sauron', 'Morgoth', 'Galadriela', 'Dark Wizard', 'Darmanadon']

In [170]:
beskid=2003

In [172]:
print (beskid)

2003

In [175]:
print ( f'beskid ma {beskid} m.n.p.m')

beskid ma 2003 m.n.p.m

In [176]:
print (423/3)

141.0

In [177]:
print (528/4)

132.0

In [178]:
print (755/5)

151.0

In [179]:
print (234/3)

78.0

In [180]:
print (148/4)

37.0

In [181]:
print (625/2)

312.5

In [182]:
print (5459/4)

1364.75

In [184]:
print (1364.75*4)

5459.0

In [185]:
print (3452/6)

575.3333333333334

In [186]:
575.3333333333334*6

3452.0

In [224]:
print (f'{imie} {nazwisko} wszedł na beskid który ma {beskid}')

Tomek Piekos wszedł na beskid który ma 2003

In [81]:
gora = ("Beskid", 2003)

In [82]:
gora

('Beskid', 2003)

In [83]:
gora[0]

'Beskid'

In [84]:
gora[1]

2003

In [85]:
szczyty_tatr =  [gora, ('Świnica', 2301), ('Rysy', 2503), ('Gerlach', 2655), ('Giewont', 1893), ('Kasprowy Wierch', 1987)]

In [86]:
szczyty_tatr [1:]

[('Świnica', 2301),
 ('Rysy', 2503),
 ('Gerlach', 2655),
 ('Giewont', 1893),
 ('Kasprowy Wierch', 1987)]

In [87]:
szczyty_tatr [:5]

[('Beskid', 2003),
 ('Świnica', 2301),
 ('Rysy', 2503),
 ('Gerlach', 2655),
 ('Giewont', 1893)]

In [88]:
szczyty_tatr [:6]

[('Beskid', 2003),
 ('Świnica', 2301),
 ('Rysy', 2503),
 ('Gerlach', 2655),
 ('Giewont', 1893),
 ('Kasprowy Wierch', 1987)]

## Słownik

In [90]:
szczyty_slownik = { "Gerlach": 2655, "Rysy": 2503, "Giewont": 1895, "Kasprowy Wierch": 1987}

In [91]:
szczyty_slownik["Gerlach"]

2655

In [92]:
szczyty_slownik["Giewont"]

1895

In [93]:
szczyty_slownik["Ciemniak"]

KeyError: 'Ciemniak'

In [95]:
szczyty_slownik["Łomnica"] = 2628

In [98]:
for gora, npm in szczyty_slownik.items():
    print(f"{gora} - {npm}m n.p.m.")

Gerlach - 2655m n.p.m.
Rysy - 2503m n.p.m.
Giewont - 1895m n.p.m.
Kasprowy Wierch - 1987m n.p.m.
Łomnica - 2628m n.p.m.

In [99]:
tatry_zachodnie = { "Koprowy Wierch": 2343, "Wołowiec": 2065, "Grześ": 1653, "Krzesanica": 2123 }

In [100]:
tatry_zachodnie["Ciemniak"] = 2096

In [101]:
tatry_zachodnie

{'Koprowy Wierch': 2343,
 'Wołowiec': 2065,
 'Grześ': 1653,
 'Krzesanica': 2123,
 'Ciemniak': 2096}

In [103]:
tatry = szczyty_slownik | tatry_zachodnie

In [104]:
tatry

{'Gerlach': 2655,
 'Rysy': 2503,
 'Giewont': 1895,
 'Kasprowy Wierch': 1987,
 'Łomnica': 2628,
 'Koprowy Wierch': 2343,
 'Wołowiec': 2065,
 'Grześ': 1653,
 'Krzesanica': 2123,
 'Ciemniak': 2096}

In [107]:
tatry["Gerlach"]

2655

In [109]:
tatry ['Giewont']

1895

In [38]:
tatry ['Wołowiec']

NameError: name 'tatry' is not defined

In [39]:
x = 43
txt = "43"

In [41]:
x ** 2

1849

In [42]:
txt + txt

'4343'

In [46]:
txt[0]

'4'

In [45]:
txt * 4

'43434343'

In [48]:
txt_imie = "Tomek"

In [49]:
txt_imie[0]

'T'

In [50]:
txt_imie[-1]

'k'

In [53]:
txt_imie[:3]

'Tom'

In [52]:
txt_imie[3:]

'ek'

In [54]:
txt_liczba = str(23423423999)

In [55]:
txt_liczba

'23423423999'

In [57]:
txt = 'Codeforia'
txt += ' '

txt

'Codeforia '

In [58]:
print(txt*52)

Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia

In [59]:
txt_dlugi = txt * 52
txt_dlugi

'Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia Codeforia '

In [61]:
slowa = txt_dlugi.split()

In [62]:
len(slowa)

52

In [63]:
'o'*100

'oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo'

In [64]:
txt = 'C'
txt += 'o' * 100

In [65]:
txt

'Coooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo'

In [66]:
txt += 'de'

In [67]:
txt

'Coooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooode'

In [1]:
432534/987

438.23100303951367

In [7]:
X=432534
print(X*2)
print(X+987)
print(X%987)
print(X**2)

865068
433521
228
187085661156

In [5]:
5 // 2

2

In [1]:
X = 1732

In [2]:
X *= 12

In [3]:
X

20784

In [2]:
print ('start in 3...2...1...')

start in 3...2...1...

In [4]:
print ('navigation is on. course: AFC-12')

navigation is on. course: AFC-12

In [5]:
print('docking procedure is over')
print('thank you')

docking procedure is over
thank you

In [10]:
sigma = input()
print(sigma * 2)
print(sigma * 2)

LL
LL

In [15]:
bok=input()

In [17]:
int(bok)

6

In [18]:
print (int(bok)*3)

18

In [19]:
lewy = '('
prawy = ')'

In [22]:
lewy * 6 + prawy * 6

'(((((())))))'

In [27]:
nawias_lewy='('
nawias_prawy=')'
ile = int(input())
ile //= 2
print(nawias_lewy*ile + nawias_prawy*ile)

((()))

In [30]:
zmienna1 =int(input())

14

In [45]:

zmienna1=int(input())
jednosci=zmienna1%10
dziesiatki=zmienna1%100//10
setki=zmienna1//100

In [46]:
jednosci

3

In [47]:
dziesiatki

2

In [48]:
setki

1

In [50]:
print(str(jednosci)+str(dziesiatki)+str(setki))

321

In [51]:
liczba = input()

In [52]:
liczba

'123'

In [55]:
liczba[2]

'3'

In [12]:
zmienna1=int(input())
jednosci=zmienna1%10
dziesiatki=(zmienna1//10)%10
setki=zmienna1//100
print(f"{jednosci}{dziesiatki}{setki}")

951

In [13]:
'*' *10

'**********'

In [21]:
ile=int(input())
napis=input() + "#"
text = napis * ile
print(text[0:-1])

code#code#code

In [18]:
napis = "abcd"

In [23]:
napis[0:-2]

'cod'

In [ ]:
liczba=int(input())
if liczba % 2 == 0:
    print('PARZYSTA')
else: 
    print("NIEPARZYSTA")

NIEPARZYSTA

In [7]:
liczba1 = int(input())
liczba2 = int(input())
if liczba1 > liczba2:
    print(liczba1)
else:
    print(liczba2)

42

In [18]:
wyjscie=int(input())
if wyjscie > 0:
    print(wyjscie)
elif wyjscie < 0:
    print(-wyjscie)
else: # zero
    print(0)

0

In [21]:
Quadrat = int(input())
quadrat2 = int(input()) 
if Quadrat > quadrat2:
    print(quadrat2 ** 2)
else:
    print(Quadrat**2)

3364

In [24]:
bok1 = int(input())
bok2 = int(input())
bok = bok1 if bok1 < bok2 else bok2
print(bok**2)

16

In [23]:
c

10

In [26]:
liczba = int(input())
if liczba % 10:
    print('NIE')
else:
    print("TAK")

TAK

In [3]:
jeden = int(input()) 
dwa = int(input())
trzy = int(input())
if jeden is dwa or jeden is trzy or dwa is trzy:
    print('NIE')
else:
    print('TAK')

NIE

In [25]:
bok1 = int(input())
bok2 = int(input())
bok3 = int(input())
bok4 = int(input())

if bok1 == bok2 and bok1 == bok3 and bok1 == bok4:
    print('TAK')
else:
    print('NIE')

TAK

In [18]:
bok1 = int(input())
bok2 = int(input())
bok3 = int(input())
boki = sorted([bok1, bok2, bok3])

if boki[0] + boki[1] > boki[2]:
    print('TAK')
else:
    print('NIE')

NIE

In [16]:
lista = [235, 2, 5, 534, 645, 345, 756]
posortowana_lista = sorted(lista)
posortowana_lista

[2, 5, 235, 345, 534, 645, 756]

In [20]:
bok1 = int(input())
bok2 = int(input())
bok3 = int(input())
boki = sorted([bok1, bok2, bok3])

if boki[0]**2 + boki[1]**2 == boki[2]**2:
    print('TAK')
else:
    print('NIE')

NIE

In [2]:
liczba1 = int(input())
liczba2 = int(input())
liczba3 = int(input())
liczby = sorted ([liczba1,liczba2,liczba3])
if liczby [2] is liczba1:
    print(liczba1)
elif liczby [2] is liczba2 :
    print(liczba2)
else:
    print(liczba3)

5

In [10]:
i = 1
while i <= 10:
    print(i, end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

In [21]:
liczba = 100
while liczba >= 0:
    if liczba % 2 == 0:
        print(liczba, end=' ')
    liczba-=1

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2 0

In [24]:
liczba = int(input())
n = 1
suma = 0
while n <= liczba:
     suma += n
     n+=1
print(suma)

55

In [31]:
liczba1 = 100
liczba2 = 999

while liczba1 <= liczba2:
    print(liczba1, end=' ')
    liczba1 += 1

100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888 889 890 891 892 893 894 895 896 897 898 899 900 901 902 903 904 905 906 907 908 909 910 911 912 913 914 915 916 917 918 919 920 921 922 923 924 925 926 927 928 929 930 931 932 933 934 935 936 937 938 939 940 941 942 943 944 945 946 947 948 949 950 951 952 953 954 955 956 957 958 959 960 961 962 963 964 965 966 967 968 969 970 971 972 973 974 975 976 977 978 979 980 981 982 983 984 985 986 987 988 989 990 991 992 993 994 995 996 997 998 999

In [13]:
n = int(input())
i = 1
silnia = 1
while i <= n:
 silnia *= i
 i+=1
ile = len(str(silnia))
print (f"{silnia} : {ile} znaków")

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 : 2568 znaków

In [45]:
liczba = int(input())
n = 1
wynik = 1
while  wynik <= liczba:
    n +=1
    wynik = 2 ** n
print(2 ** (n-1))

256

In [40]:
liczba = int(input())
n = 0
wynik = 2 ** n

while  True:
    if wynik >= liczba:
        break
    n +=1
    wynik = 2 ** n
    
print(2 ** (n-1))

512

In [46]:
quadrat = int(input())
n = 0
while quadrat < 1000000:
    n += 1
    quadrat = n ** 2
    print(quadrat, end=" ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000 10201 10404 10609 10816 11025 11236 11449 11664 11881 12100 12321 12544 12769 12996 13225 13456 13689 13924 14161 14400 14641 14884 15129 15376 15625 15876 16129 16384 16641 16900 17161 17424 17689 17956 18225 18496 18769 19044 19321 19600 19881 20164 20449 20736 21025 21316 21609 21904 22201 22500 22801 23104 23409 23716 24025 24336 24649 24964 25281 25600 25921 26244 26569 26896 27225 27556 27889 28224 28561 28900 29241 29584 29929 30276 30625 30976 31329 31684 32041 32400 32761 33124 33489 33856 34225 34596 34969 35344 35721 36100 36481 36864 37249 37636 38025 38416 38809 39204 39601 40000 40401 40804 41209 41616 42025 42436 42849 43264 43681 44100 44521 44944 45369 45796 46225 46656 47089 47524 47961 48400 48841 49284 49729 50176 50625 51076 51529 51984 52441 52900 53361 53824 54289 54756 55225 55696 56169 56644 57121 57600 58081 58564 59049 59536 60025 60516 61009 61504 62001 62500 63001 63504 64009 64516 65025 65536 66049 66564 67081 67600 68121 68644 69169 69696 70225 70756 71289 71824 72361 72900 73441 73984 74529 75076 75625 76176 76729 77284 77841 78400 78961 79524 80089 80656 81225 81796 82369 82944 83521 84100 84681 85264 85849 86436 87025 87616 88209 88804 89401 90000 90601 91204 91809 92416 93025 93636 94249 94864 95481 96100 96721 97344 97969 98596 99225 99856 100489 101124 101761 102400 103041 103684 104329 104976 105625 106276 106929 107584 108241 108900 109561 110224 110889 111556 112225 112896 113569 114244 114921 115600 116281 116964 117649 118336 119025 119716 120409 121104 121801 122500 123201 123904 124609 125316 126025 126736 127449 128164 128881 129600 130321 131044 131769 132496 133225 133956 134689 135424 136161 136900 137641 138384 139129 139876 140625 141376 142129 142884 143641 144400 145161 145924 146689 147456 148225 148996 149769 150544 151321 152100 152881 153664 154449 155236 156025 156816 157609 158404 159201 160000 160801 161604 162409 163216 164025 164836 165649 166464 167281 168100 168921 169744 170569 171396 172225 173056 173889 174724 175561 176400 177241 178084 178929 179776 180625 181476 182329 183184 184041 184900 185761 186624 187489 188356 189225 190096 190969 191844 192721 193600 194481 195364 196249 197136 198025 198916 199809 200704 201601 202500 203401 204304 205209 206116 207025 207936 208849 209764 210681 211600 212521 213444 214369 215296 216225 217156 218089 219024 219961 220900 221841 222784 223729 224676 225625 226576 227529 228484 229441 230400 231361 232324 233289 234256 235225 236196 237169 238144 239121 240100 241081 242064 243049 244036 245025 246016 247009 248004 249001 250000 251001 252004 253009 254016 255025 256036 257049 258064 259081 260100 261121 262144 263169 264196 265225 266256 267289 268324 269361 270400 271441 272484 273529 274576 275625 276676 277729 278784 279841 280900 281961 283024 284089 285156 286225 287296 288369 289444 290521 291600 292681 293764 294849 295936 297025 298116 299209 300304 301401 302500 303601 304704 305809 306916 308025 309136 310249 311364 312481 313600 314721 315844 316969 318096 319225 320356 321489 322624 323761 324900 326041 327184 328329 329476 330625 331776 332929 334084 335241 336400 337561 338724 339889 341056 342225 343396 344569 345744 346921 348100 349281 350464 351649 352836 354025 355216 356409 357604 358801 360000 361201 362404 363609 364816 366025 367236 368449 369664 370881 372100 373321 374544 375769 376996 378225 379456 380689 381924 383161 384400 385641 386884 388129 389376 390625 391876 393129 394384 395641 396900 398161 399424 400689 401956 403225 404496 405769 407044 408321 409600 410881 412164 413449 414736 416025 417316 418609 419904 421201 422500 423801 425104 426409 427716 429025 430336 431649 432964 434281 435600 436921 438244 439569 440896 442225 443556 444889 446224 447561 448900 450241 451584 452929 454276 455625 456976 458329 459684 461041 462400 463761 465124 466489 467856 469225 470596 471969 473344 474721 476100 477481 478864 480249 481636 483025 484416 485809 487204 488601 490000 491401 492804 494209 495616 497025 498436 499849 501264 502681 504100 505521 506944 508369 509796 511225 512656 514089 515524 516961 518400 519841 521284 522729 524176 525625 527076 528529 529984 531441 532900 534361 535824 537289 538756 540225 541696 543169 544644 546121 547600 549081 550564 552049 553536 555025 556516 558009 559504 561001 562500 564001 565504 567009 568516 570025 571536 573049 574564 576081 577600 579121 580644 582169 583696 585225 586756 588289 589824 591361 592900 594441 595984 597529 599076 600625 602176 603729 605284 606841 608400 609961 611524 613089 614656 616225 617796 619369 620944 622521 624100 625681 627264 628849 630436 632025 633616 635209 636804 638401 640000 641601 643204 644809 646416 648025 649636 651249 652864 654481 656100 657721 659344 660969 662596 664225 665856 667489 669124 670761 672400 674041 675684 677329 678976 680625 682276 683929 685584 687241 688900 690561 692224 693889 695556 697225 698896 700569 702244 703921 705600 707281 708964 710649 712336 714025 715716 717409 719104 720801 722500 724201 725904 727609 729316 731025 732736 734449 736164 737881 739600 741321 743044 744769 746496 748225 749956 751689 753424 755161 756900 758641 760384 762129 763876 765625 767376 769129 770884 772641 774400 776161 777924 779689 781456 783225 784996 786769 788544 790321 792100 793881 795664 797449 799236 801025 802816 804609 806404 808201 810000 811801 813604 815409 817216 819025 820836 822649 824464 826281 828100 829921 831744 833569 835396 837225 839056 840889 842724 844561 846400 848241 850084 851929 853776 855625 857476 859329 861184 863041 864900 866761 868624 870489 872356 874225 876096 877969 879844 881721 883600 885481 887364 889249 891136 893025 894916 896809 898704 900601 902500 904401 906304 908209 910116 912025 913936 915849 917764 919681 921600 923521 925444 927369 929296 931225 933156 935089 937024 938961 940900 942841 944784 946729 948676 950625 952576 954529 956484 958441 960400 962361 964324 966289 968256 970225 972196 974169 976144 978121 980100 982081 984064 986049 988036 990025 992016 994009 996004 998001 1000000

In [71]:
n = int(input())
i = 1

while n >= i:
    print(i, end=" ")
    i += 1

i = n-1

while i > 0:
    print(i, end=" ")
    i -= 1

1 2 3 4 5 4 3 2 1

In [79]:
liczba = int(input())
plus = '+'
minus = '-'
n = 1

while liczba >= n:    
    
    if n % 2:
        print(plus, end='')
    else:
        print(minus, end='')
    n += 1

+-+-+

In [ ]:
liczba1 = int(input())
liczba2 = int(input())
kroki = 0
while liczba1 != liczba2:
    if liczba1 > liczba2:
        liczba1 = liczba1 - liczba2
    else:
        liczba2 = liczba2 - liczba1
    kroki += 1

print(kroki)

4

In [ ]:
liczba = input()
suma = 0

for i in liczba:
    suma += int(i)

print(suma)

18

In [101]:
liczba = int(input())
n = 1
while n <= liczba:
    if liczba % n == 0:
        print(n, end=' ')
    n += 1

1 97

In [104]:
tekst = "Tomek"

for litera in tekst:
    print(litera)

T
o
m
e
k

In [105]:
for n in range(6):
    print(n)

0
1
2
3
4
5

In [108]:
for n in range(2, 11, 2):
    print(n)

2
4
6
8
10

In [109]:
for n in range(10, 0, -1):
    print(n)

10
9
8
7
6
5
4
3
2
1

In [110]:
for n in range(10, 100):
    print(n, end=' ')

10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [4]:
for n in range(99, 0, -2):
    print(n, end=' ')

99 97 95 93 91 89 87 85 83 81 79 77 75 73 71 69 67 65 63 61 59 57 55 53 51 49 47 45 43 41 39 37 35 33 31 29 27 25 23 21 19 17 15 13 11 9 7 5 3 1

In [13]:
n = int(input())

for cyfra in range(1, n+1):
    print(f"{cyfra} {-cyfra}", end=" ")

1 -1 2 -2 3 -3 4 -4

In [18]:
n = int(input())
for i in range(1, n+1):
    print(i, end=' ')
print()
for i in range(2*n, n, -1):
    print(i, end=' ')

1
2

In [ ]:
n = int(input())
suma = 0
for i in range(1,n+1):
    if i % 10 == 0:
        suma += i
print (suma)

10

In [28]:

for i in range (1, 101):
    if i % 2 == 0 or i % 3 == 0:
        print(i, end=' ')

2 3 4 6 8 9 10 12 14 15 16 18 20 21 22 24 26 27 28 30 32 33 34 36 38 39 40 42 44 45 46 48 50 51 52 54 56 57 58 60 62 63 64 66 68 69 70 72 74 75 76 78 80 81 82 84 86 87 88 90 92 93 94 96 98 99 100

In [29]:
tekst = "ala ma kota"

In [31]:
tekst.split()

['ala', 'ma', 'kota']

In [32]:
tekst = "ala,ma,kota"

In [34]:
tekst.split(sep=",")

['ala', 'ma', 'kota']

In [35]:
tekst = "ala.ma.kota"
tekst.split(sep='.')

['ala', 'ma', 'kota']

In [36]:
tekst = "1 2 3 4 5 6"
lista = tekst.split()

In [37]:
lista

['1', '2', '3', '4', '5', '6']

In [38]:
liczby = []

for s in lista:
    liczby.append(int(s))

In [39]:
liczby

[1, 2, 3, 4, 5, 6]

In [41]:
liczby + [7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
zera = [0] * 10

In [43]:
zera

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [44]:
del zera[0]

In [45]:
zera

[0, 0, 0, 0, 0, 0, 0, 0, 0]

In [48]:
tekst = input()
slowa = tekst.split()

liczby = []
for s in slowa:
    liczby.append(int(s))

for n in liczby:
    print(n * n, end=' ')

1 4 9 16 25

In [ ]:
n = int(input())
liczby = []
for i in range(n):
    if i % 2 == 0:
        liczby.append(0)
    else:
        liczby.append(1)

print(liczby)

[0]

In [ ]:
ile = int(input())
tekst = input()
slowa = tekst.split()

liczby = []
for s in slowa:
    liczby.append(int(s))

ile = 0
for n in liczby:
    if n > 0:
        ile += 1
print(ile)

0

In [57]:
def hey():
    print("HEY!!!")

In [58]:
hey()

HEY!!!

In [59]:
for _ in range(10):
    hey()

HEY!!!
HEY!!!
HEY!!!
HEY!!!
HEY!!!
HEY!!!
HEY!!!
HEY!!!
HEY!!!
HEY!!!

In [60]:
def hey_n(n):
    for _ in range(n):
        hey()

In [62]:
hey_n(4)

HEY!!!
HEY!!!
HEY!!!
HEY!!!

In [63]:
def kwadrat(n):
    return n * n

In [64]:
kwadrat(4)

16

In [65]:
k = kwadrat(8)

In [66]:
k

64

In [67]:
def wczytaj():
    ile = int(input())
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

In [85]:
def wczytaj():
    ile = int(input())
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

liczby = wczytaj()

In [86]:
for indeks in range(0, len(liczby)):
    if indeks % 2 == 0:
        print(liczby[indeks], end=' ')

0 -2 4

In [ ]:
def wczytaj():
    ile = int(input())
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

liczby = wczytaj()

In [91]:
liczby

ile = 0
for i in liczby:
    if i % 10 == 0:
        ile += 1
print(ile)

1

In [99]:
def wczytaj():
    ile = int(input())
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

liczby = wczytaj()

In [101]:
suma = 0

for i in liczby:
    if i >= 10 and i<100 or i > -100 and i <= -10:
        suma += i
print(suma)

0

In [111]:
for indeks in range(len(liczby) - 1, -1, -1):
    print(liczby[indeks], end=' ')

-1 -10 -15 15 10 5

In [103]:
liczby

[5, 10, 15, -15, -10, -1]

In [112]:
print(liczby)

[5, 10, 15, -15, -10, -1]

In [ ]:
tekst = input()
slowa = tekst.split()
A = int(slowa[0])
B = int(slowa[1])

liczby = []
for n in range(A , B +1):
    liczby.append(n)
print(liczby)

[10]

In [126]:
def wczytaj():
    ile = int(input())
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

liczby = wczytaj()

In [127]:
najwieksza_parzysta = -2**63

for n in liczby:
    if n % 2 == 0 and n > najwieksza_parzysta:
        najwieksza_parzysta = n
print(najwieksza_parzysta)

-2

In [129]:
ile = int(input())

def wczytaj():
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

lista1 = wczytaj()
lista2 = wczytaj()

In [134]:
for indeks in range(0, len(lista1)):
    print(lista1[indeks] + lista2[indeks], end=' ')

6 4 5

In [154]:
ile = int(input())

def wczytaj():
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

lista = wczytaj()

In [155]:
najwieksza_suma=-2**63
for n in range(0, len(lista)+1):
    prefiks = lista[0:n]
    suma = sum(prefiks)
    if suma > najwieksza_suma:
        najwieksza_suma = suma
print(najwieksza_suma)

0

In [204]:
napis = input()
lista = list(napis)
if len(lista) <= 8:
    print(napis)
else:
    print(lista[0], len(lista), lista[-1], sep='')

c9a

In [197]:
tekst = "abc"
tekst[-1]

'c'

In [213]:
napis = input()

orzel = 0
reszka = 0

for litera in napis:
    if litera == 'O':
        orzel += 1
    else:
        reszka += 1

if orzel < reszka:
    print(orzel)
else:
    print(reszka)

2

In [220]:
n = int(input())
for i in range(1, n+1):
    for j in range(1, n+1):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [234]:
litera = '$'

In [235]:
ord(litera)

36

In [236]:
chr(65)

'A'

In [237]:
for n in range(97, 123):
    print(chr(n))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [239]:
for i in range(97, 123):
    for j in range(97, 123):
        print(chr(i) + chr(j), end = " ")

aa ab ac ad ae af ag ah ai aj ak al am an ao ap aq ar as at au av aw ax ay az ba bb bc bd be bf bg bh bi bj bk bl bm bn bo bp bq br bs bt bu bv bw bx by bz ca cb cc cd ce cf cg ch ci cj ck cl cm cn co cp cq cr cs ct cu cv cw cx cy cz da db dc dd de df dg dh di dj dk dl dm dn do dp dq dr ds dt du dv dw dx dy dz ea eb ec ed ee ef eg eh ei ej ek el em en eo ep eq er es et eu ev ew ex ey ez fa fb fc fd fe ff fg fh fi fj fk fl fm fn fo fp fq fr fs ft fu fv fw fx fy fz ga gb gc gd ge gf gg gh gi gj gk gl gm gn go gp gq gr gs gt gu gv gw gx gy gz ha hb hc hd he hf hg hh hi hj hk hl hm hn ho hp hq hr hs ht hu hv hw hx hy hz ia ib ic id ie if ig ih ii ij ik il im in io ip iq ir is it iu iv iw ix iy iz ja jb jc jd je jf jg jh ji jj jk jl jm jn jo jp jq jr js jt ju jv jw jx jy jz ka kb kc kd ke kf kg kh ki kj kk kl km kn ko kp kq kr ks kt ku kv kw kx ky kz la lb lc ld le lf lg lh li lj lk ll lm ln lo lp lq lr ls lt lu lv lw lx ly lz ma mb mc md me mf mg mh mi mj mk ml mm mn mo mp mq mr ms mt mu mv mw mx my mz na nb nc nd ne nf ng nh ni nj nk nl nm nn no np nq nr ns nt nu nv nw nx ny nz oa ob oc od oe of og oh oi oj ok ol om on oo op oq or os ot ou ov ow ox oy oz pa pb pc pd pe pf pg ph pi pj pk pl pm pn po pp pq pr ps pt pu pv pw px py pz qa qb qc qd qe qf qg qh qi qj qk ql qm qn qo qp qq qr qs qt qu qv qw qx qy qz ra rb rc rd re rf rg rh ri rj rk rl rm rn ro rp rq rr rs rt ru rv rw rx ry rz sa sb sc sd se sf sg sh si sj sk sl sm sn so sp sq sr ss st su sv sw sx sy sz ta tb tc td te tf tg th ti tj tk tl tm tn to tp tq tr ts tt tu tv tw tx ty tz ua ub uc ud ue uf ug uh ui uj uk ul um un uo up uq ur us ut uu uv uw ux uy uz va vb vc vd ve vf vg vh vi vj vk vl vm vn vo vp vq vr vs vt vu vv vw vx vy vz wa wb wc wd we wf wg wh wi wj wk wl wm wn wo wp wq wr ws wt wu wv ww wx wy wz xa xb xc xd xe xf xg xh xi xj xk xl xm xn xo xp xq xr xs xt xu xv xw xx xy xz ya yb yc yd ye yf yg yh yi yj yk yl ym yn yo yp yq yr ys yt yu yv yw yx yy yz za zb zc zd ze zf zg zh zi zj zk zl zm zn zo zp zq zr zs zt zu zv zw zx zy zz

In [246]:
n = int(input())

In [251]:
liczba = 0
for i in range(n):
    for j in range(i+1):
        liczba += 1
        print(liczba,  end = " ")
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45
46 47 48 49 50 51 52 53 54 55
56 57 58 59 60 61 62 63 64 65 66
67 68 69 70 71 72 73 74 75 76 77 78
79 80 81 82 83 84 85 86 87 88 89 90 91
92 93 94 95 96 97 98 99 100 101 102 103 104 105
106 107 108 109 110 111 112 113 114 115 116 117 118 119 120
121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136
137 138 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153
154 155 156 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171
172 173 174 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190
191 192 193 194 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210

In [20]:
liczba = int(input())
for n in range(2, liczba + 1):
    if liczba % n == 0:
        print(n)
        break

7

In [26]:
ile = int(input())

def wczytaj():
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

liczby = wczytaj()

In [27]:
fragmenty = 0
for i in range(ile):
    suma = 0
    for j in range(i, ile):
        suma += liczby[j]
        if suma == 3:
            fragmenty += 1
            break
print(fragmenty)

0

In [31]:
D = int(input())
A = int(input())
B = int(input())

for n in range(1, D + 1):
    if n >= A and n <= B:
        print('W', end='')
    else:
        print('.', end='')

....W.

In [59]:
tekst = input()
slowa = tekst.split(sep=':')

godziny = int(slowa[0])
minuty = int(slowa[1])

minuty += 10
if minuty >= 60:
    godziny += 1
    minuty -= 60
if godziny >= 24:
    godziny = 0
print(f"{godziny:02}:{minuty:02}")

00:09

In [78]:
liczba2cyf = input()
liczba3cyf = input()

In [79]:
print(liczba2cyf, liczba3cyf)

11 121

In [80]:
liczba3cyf[:2]

'12'

In [81]:
if liczba2cyf == liczba3cyf[1:] or liczba2cyf == liczba3cyf[:2]:
    print('TAK')
else:
    print('NIE')

NIE

In [85]:
K = int(input())

ile = 0

liczba = 0
while ile < K:
    liczba += 1
    liczba_string = str(liczba)
    for znak in liczba_string:
        if znak == '5':
            ile += 1
            if ile == K:
                print(liczba)

54

In [102]:
ile = int(input())

daty = []

for _ in range(ile):
    text = input()
    data = text.split(sep='/')
    daty.append([int(data[2]), int(data[1]), int(data[0])])

In [103]:
daty_posortowane = sorted(daty)

In [104]:
najpozniejsza = daty_posortowane[-1]
dzien = najpozniejsza[2]
miesiac = najpozniejsza[1]
rok = najpozniejsza[0]
print(f'{dzien:02}/{miesiac:02}/{rok}')

29/11/1998

# Bałwan

In [128]:
ile = int(input())

def wczytaj():
    tekst = input()
    slowa = tekst.split()

    liczby = []
    for s in slowa:
        liczby.append(int(s))
    return liczby

liczby = wczytaj()

In [129]:
liczby

[3, 8, 6, 2, 10, 4, 5, 12]

In [ ]:
do_balwana = sorted(liczby)

najwieksza_glowa = 0

for i in range(ile):
    nogi = 0
    brzuch = 0
    glowa = do_balwana[i]
    for j in range(i+1, ile):
        kula = do_balwana[j]
        if kula == 2*glowa:
            brzuch = kula
        if kula == 2* brzuch:
            nogi = kula
            
            if glowa > najwieksza_glowa:
                najwieksza_glowa = glowa

if najwieksza_glowa == 0:
    print('BRAK')
else:
    print(najwieksza_glowa)

Balwan: 8 4 2
Balwan: 12 6 3
3

In [74]:
litery = input()

In [75]:
litery_posortowane = sorted(litery)

In [76]:
litery_posortowane

['a', 'b', 'c', 'd', 'e', 'f']

In [77]:
lista = []

slowo = ""

for litera in litery_posortowane:
    if slowo == "" or litera == slowo[0]:
        slowo += litera
    else:
        lista.append(slowo)
        slowo = litera
lista.append(slowo)

In [72]:
lista

['xxxxx']

In [100]:
def fsuma(n):
    suma = 0
    for i in range(0, n):
        suma += i + 1 
    return suma

In [101]:
def ile_slow_max(litery):
    dlugosc = len(litery)

    ile_max = 0
    for i in range(1, dlugosc + 1):
        if fsuma(i) <= dlugosc:
            ile_max = i
        else:
            break
    return ile_max

In [94]:
ile_max = 0

for litery in lista:
    ile_max += ile_slow_max(litery)

print(ile_max)

6

In [ ]:
ile_max = 0

for slowo in lista:
    poczatek = 0
    koniec = 1
    ile = 0

    while koniec <= len(slowo):
        fragment = slowo[poczatek:koniec]
        poczatek = koniec
        ile += 1
        koniec += ile + 1

    ile_max += ile

print(ile_max)

a
b
c
d
e
f
6

# jednorodne napisy

In [82]:
litery = input()

litery_posortowane = sorted(litery)

lista = []

slowo = ""

for litera in litery_posortowane:
    if slowo == "" or litera == slowo[0]:
        slowo += litera
    else:
        lista.append(slowo)
        slowo = litera
lista.append(slowo)

ile_max = 0

for slowo in lista:
    poczatek = 0
    koniec = 1
    ile = 0

    while koniec <= len(slowo):
        fragment = slowo[poczatek:koniec]
        poczatek = koniec
        ile += 1
        koniec += ile + 1

    ile_max += ile

print(ile_max)

6

# Piłeczki

In [176]:
ile = input()
pileczki = input().split()

In [177]:
pileczki

['C2', 'C5', 'Z3', 'D4', 'D9', 'Z5', 'Z4', 'D7']

In [178]:
from collections import defaultdict

rzedy = defaultdict(list)

for p in pileczki:
    rzedy[p[0]].append(p)

In [179]:
rzedy

defaultdict(list,
            {'C': ['C2', 'C5'],
             'Z': ['Z3', 'Z5', 'Z4'],
             'D': ['D4', 'D9', 'D7']})

In [180]:
for k in rzedy.keys():
    rzedy[k] = sorted(rzedy[k])

In [181]:
rzedy

defaultdict(list,
            {'C': ['C2', 'C5'],
             'Z': ['Z3', 'Z4', 'Z5'],
             'D': ['D4', 'D7', 'D9']})

In [182]:
max = 0

for rzad in rzedy.values():

    ile = 0
    tmp = 1

    for i in range(1, len(rzad)):
        nr_pilki_1 = int(rzad[i-1][1:])
        nr_pilki_2 = int(rzad[i][1:])
        
        if nr_pilki_2 - nr_pilki_1 == 1:
            tmp += 1
        else:
            if ile < tmp:
                ile = tmp
            tmp = 1

    if ile < tmp:
        ile = tmp

    if max < ile:
        max = ile

print(max)

3

In [185]:
from collections import defaultdict

ile = input()
pileczki = input().split()

rzedy = defaultdict(list)

for p in pileczki:
    rzedy[p[0]].append(p)

for k in rzedy.keys():
    rzedy[k] = sorted(rzedy[k])

max = 0

for rzad in rzedy.values():

    ile = 0
    tmp = 1

    for i in range(1, len(rzad)):
        nr_pilki_1 = int(rzad[i-1][1:])
        nr_pilki_2 = int(rzad[i][1:])
        
        if nr_pilki_2 - nr_pilki_1 == 1:
            tmp += 1
        else:
            if ile < tmp:
                ile = tmp
            tmp = 1

    if ile < tmp:
        ile = tmp

    if max < ile:
        max = ile

print(max)

3

# Slownik

In [89]:
szczyty_tatr = {}

szczyty_tatr['Rysy'] = 2499
szczyty_tatr['Świnica'] = 2301

In [ ]:
szczyty_tatr['Świnica'] = 2302

In [93]:
szczyty_tatr

{'Rysy': 2499, 'Świnica': 2302}

In [108]:
from collections import defaultdict

gory = defaultdict(list)

In [109]:
gory['Tatry'].append('Gerlach')
gory['Sudety'].append('Sniezka')
gory['Sudety'].append('Wielki Szyszak')

In [110]:
gory['Tatry'].append('Rysy')
gory['Tatry'].append('Bystra')

In [111]:
gory['Tatry']

['Gerlach', 'Rysy', 'Bystra']

In [112]:
gory['Sudety']

['Sniezka', 'Wielki Szyszak']

# karty

In [250]:
karta1 = input()
karta2 = input()

In [187]:
print(karta1)
print(karta2)

aaabab
abbbba

In [206]:
def jest_mono(napis: str):
    return all([c == 'a' for c in napis]) or all([c == 'b' for c in napis])

In [ ]:
assert(jest_mono('a'))
assert(jest_mono('b'))
assert(jest_mono('aa'))
assert(jest_mono('bb'))
assert(not jest_mono('ab'))
assert(not jest_mono('ab'))
assert(jest_mono('aaa'))
assert(jest_mono('bbb'))
assert(not jest_mono('aba'))
assert(not jest_mono('bba'))

In [217]:
def jest_ladny(napis):
    pos_b = napis.find('b')
    return jest_mono(napis) or (napis.startswith('a') and jest_mono(napis[0:pos_b]) and jest_mono(napis[pos_b:]))

In [ ]:
assert(jest_ladny('a'))
assert(jest_ladny('b'))
assert(jest_ladny('aa'))
assert(jest_ladny('bb'))
assert(jest_ladny('ab'))
assert(not jest_ladny('ba'))
assert(jest_ladny('abbbb'))
assert(jest_ladny('aaaabbb'))
assert(jest_ladny('aaaaaaaaaaaaaaaaaaaaaabbbbbbbbbbbbbbbbbbbbb'))

In [259]:
karta1 = 'aaaa'
karta2 = 'bbbb'

In [260]:
print(karta1)
print(karta2)

aaaa
bbbb

In [261]:
def flip(n1, n2, i):
    print(f"flip({n1}, {n2}, {i})")
    l1 = list(n1)
    l2 = list(n2)
    l1[i], l2[i] = l2[i], l1[i]
    return "".join(l1), "".join(l2)
    
flip(karta1, karta2, 1)

flip(aaaa, bbbb, 1)

('abaa', 'babb')

In [262]:
ile = 0
ladne_napisy = set()

def recursive_find(n1, n2, indeks):
    global ile
    if indeks < 0:
        return

    if jest_ladny(n1):
        print("# - " + n1)
        ile += 1
        ladne_napisy.add(n1)

    recursive_find(n1, n2, indeks - 1)

    if (n1[indeks] != n2[indeks]):
        n1, n2 = flip(n1, n2, indeks)
        if jest_ladny(n1):
            print("# - " + n1)
            ile += 1
            ladne_napisy.add(n1)
        recursive_find(n1, n2, indeks - 1)
    
recursive_find(karta1, karta2, len(karta1) - 1)
    
print(ile)
print(ladne_napisy)

# - aaaa
# - aaaa
# - aaaa
# - aaaa
flip(aaaa, bbbb, 0)
flip(aaaa, bbbb, 1)
flip(abaa, babb, 0)
flip(aaaa, bbbb, 2)
flip(aaba, bbab, 0)
flip(aaba, bbab, 1)
flip(abba, baab, 0)
flip(aaaa, bbbb, 3)
# - aaab
# - aaab
# - aaab
# - aaab
flip(aaab, bbba, 0)
flip(aaab, bbba, 1)
flip(abab, baba, 0)
flip(aaab, bbba, 2)
# - aabb
# - aabb
# - aabb
flip(aabb, bbaa, 0)
flip(aabb, bbaa, 1)
# - abbb
# - abbb
flip(abbb, baaa, 0)
# - bbbb
14
{'aaaa', 'bbbb', 'aaab', 'abbb', 'aabb'}

# Rozmiary

In [8]:
osoba = int(input())
rozmiar1 = 'S'
rozmiar2 = 'M'
rozmiar3 = 'L'
dlugosc_rozmiaru1 = 165
dlugosc_rozmiaru2 = 180
if osoba < dlugosc_rozmiaru1:
    print(rozmiar1)
if osoba >= dlugosc_rozmiaru1 and osoba < dlugosc_rozmiaru2:
    print(rozmiar2)
if osoba >= dlugosc_rozmiaru2:
    print(rozmiar3)

L

# Login

In [ ]:
imie = input()
nazwisko = input()

username = imie[0]

if len(nazwisko) > 3:
    username += nazwisko[:3]
else:
    username += nazwisko

print(username)

tpie

#Cyfry

In [ ]:
cyfry = input()
cyfry = cyfry.split()
da_sie = False
for i in cyfry:
    if int(i) % 2 == 0:
        da_sie = True
        break

if da_sie:
    print('Tak')
else:
    print('Nie')

Tak

In [31]:
cyfry = input()
cyfry = cyfry.split()
da_sie = False

podzielne_przez_2 = ['0', '2', '4', '6', '8']
for i in cyfry:
    if i in podzielne_przez_2:
        da_sie = True
        break

if da_sie:
    print('Tak')
else:
    print('Nie')

Tak

In [40]:
boki = int(input())
if boki >= 5:
    print('wielobok')
if boki == 4:
    print('romb, trapez, równoległobok, kwadrat, prostokąt')
if boki == 3:
    print('trójkąt')
if boki<3:
    print('NIE DA SIĘ')

wielobok

In [ ]:
liczba = int(input())

jest_pierwsza = True

for dzielnik in range(2, liczba):
    if liczba % dzielnik == 0:
        jest_pierwsza = False
        break

if jest_pierwsza:
    print(liczba, "jest pierwsza")
else:
    print(liczba, "nie jest pierwsza")

113  jest pierwsza

In [55]:
def czy_jest_pierwsza(liczba):
    jest_pierwsza = True
    for dzielnik in range(2, liczba):
        if liczba % dzielnik == 0:
            jest_pierwsza = False
            break
    return jest_pierwsza

In [56]:
czy_jest_pierwsza(13)

True

In [57]:
czy_jest_pierwsza(64)

False

In [69]:
ile = int(input("Ile liczb pierwszych chcesz znaleźć?"))

liczby_pierwsze = []

for n in range(2, 1000000):
    if czy_jest_pierwsza(n):
        liczby_pierwsze.append(n)
    if len(liczby_pierwsze) == ile:
        break

print(liczby_pierwsze)

KeyboardInterrupt:

# Krotki (Tuple)

In [1]:
a, b = 1, 2

In [2]:
a

1

In [3]:
b

2

In [4]:
a, b, c = 1, "two", 3

In [5]:
a

1

In [6]:
b

'two'

In [7]:
c

3

In [13]:
my_tuple = (42344, "Adam", 44)

In [14]:
my_tuple

(42344, 'Adam', 44)

In [15]:
my_tuple[0]

42344

In [16]:
my_tuple[1]

'Adam'

In [17]:
my_tuple[2]

44

In [18]:
id, imie, wiek = my_tuple

In [19]:
id

42344

In [20]:
imie

'Adam'

In [21]:
wiek

44

In [22]:
a = 1
b = 42

In [23]:
a, b = b, a

In [24]:
a

42

In [25]:
b

1

In [41]:
n = int(input())
a = int(input())
b = int(input())

if a > b:
    a, b = b, a


liczba_wolnych_miejsc = a - 1
   
if b - a - 1 > liczba_wolnych_miejsc:
    liczba_wolnych_miejsc = b - a - 1

if n - b > liczba_wolnych_miejsc:
    liczba_wolnych_miejsc = n - b

print(liczba_wolnych_miejsc)

8

In [ ]:

10