# Funkcje

## Def

In [1]:
def funkcja(parametr):
    return "Wartość"

In [2]:
funkcja(42)

'Wartość'

In [3]:
funkcja("dwa")

'Wartość'

In [4]:
def pole_kwadratu(bok):
    return bok ** 2

In [5]:
pole_kwadratu(10)

100

In [6]:
def pole_prostokata(szerokosc, wysokosc):
    return szerokosc * wysokosc

In [7]:
pole_prostokata(100, 2)

200

In [11]:
def ile_jedynek(lista):
    jedynki = 0
    for i in lista:
        if i == 1:
            jedynki += 1
    return jedynki

In [ ]:
lista = [1, 4, 66, 7, 9, 10, 555, 1, 1]

ile_jedynek(lista)

3

## Funkcja count

In [15]:
lista = [1, 4, 66, 7, 9, 10, 555, 1, 1]
lista.count(1)

3

In [16]:
napis = 'aaabbbcscscaafff'
napis.count('a')

5

# Zliczanie elementów

Chcemy wiedzieć ile razy występuje dana wartość w liście.

[1, 1, 6, 1, 5, 6, 9] 

1 : 3,
6 : 2,
5 : 1,
9 : 1

In [19]:
from collections import defaultdict

lista = [1, 1, 6, 5, 6, 1, 9]

zliczacz = defaultdict(int)

for liczba in lista:
    zliczacz[liczba] += 1

In [20]:
zliczacz

defaultdict(int, {1: 3, 6: 2, 5: 1, 9: 1})

In [21]:
zliczacz[1]

3

In [22]:
zliczacz[9]

1

In [23]:
for wartosc, ile_razy in zliczacz.items():
    print(f'{wartosc} występuje {ile_razy} razy')

1 występuje 3 razy
6 występuje 2 razy
5 występuje 1 razy
9 występuje 1 razy

# Wczytaj listę elementów

Wczytaj listę elementów: 1 2 3 4 5 i utwórz listę [1, 2, 3, 4, 5]

In [29]:
tekst = input()

def wczytaj_dane(tekst):
    wartosci = []
    elementy = tekst.split(' ')

    for liczba_tekst in elementy:
        wartosci.append(int(liczba_tekst))
    
    return wartosci

In [32]:
liczby = wczytaj_dane(tekst)
liczby

[1, 2, 3, 4, 5, 6, 7]

# Krotki

Zamiana wartości a z b

In [33]:
a = 1
b = 2

a, b = b, a

In [34]:
a

2

In [35]:
b

1

In [36]:
lista = [1, 2, 3, 4, 5]

In [37]:
lista[0], lista[-1] = lista[-1], lista[0]

In [38]:
lista

[5, 2, 3, 4, 1]

# Tricki

## Lista zer

In [39]:
lista = [0] * 10

In [40]:
lista

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

## Kod ASCII na literę

In [41]:
kod = 65
chr(kod)

'A'

## Litera na kod ASCII

In [42]:
litera = 'A'
ord(litera)

65

In [45]:
def nastepna_litera(litera):
    if litera == 'z' or litera == 'Z':
        return litera
    return chr(ord(litera) + 1)

In [44]:
nastepna_litera('a')

'b'

In [46]:
nastepna_litera('z')

'z'

## Iteracja po indeksach i wartościach

In [47]:
lista = ['zero', 'jeden', 'dwa']

In [49]:
for indeks, wartosc in enumerate(lista):
    print(f"{indeks} - {wartosc}")

0 - zero
1 - jeden
2 - dwa

## Sumowanie elementów w liscie

In [50]:
lista = [1, 2, 3, 4, 5]
sum(lista)

15

In [51]:
sum(lista[2:])

12